[submodule "code/vst/third-party/Spatial_Audio_Framework"]
	path = code/vst/third-party/Spatial_Audio_Framework
	url = https://github.com/leomccormack/Spatial_Audio_Framework.git
[submodule "code/vst/third-party/nngpp"]
	path = code/vst/third-party/nngpp
	url = https://github.com/cwzx/nngpp.git
