Checks:            '*,-llvm-namespace-comment,
                    -cppcoreguidelines-non-private-member-variables-in-classes,
                    -google-readability-todo,
                    -bugprone-easily-swappable-parameters,
                    -readability-isolate-declaration,
                    -google-readability-namespace-comments
                    -modernize-*,
                    -google-runtime-references,
                    -fuchsia*,
                    -modernize-use-trailing-return-type,
                    -readability-implicit-bool-conversion,
                    -*-braces-around-statements,
                    -cppcoreguidelines-pro-bounds-constant-array-index,
                    -cppcoreguidelines-pro-type-reinterpret-cast,
                    -cppcoreguidelines-pro-type-vararg,
                    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
                    -misc-non-private-member-variables-in-classes,
                    -hicpp-vararg,
                    -hicpp-signed-bitwise,
                    -*-magic-numbers,
                    -*-avoid-c-arrays,
                    -llvmlibc-*,
                    -llvm-header-guard,
                    -llvm-include-order,
                    -llvm-header-guard,
                    -readability-uppercase-literal-suffix,
                    -hicpp-uppercase-literal-suffix,
                    ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
